<div class="login-block ">
    <div class="login-block-inner">
        <div class="login-section-outer">
            <div class="login-section">
                <div class="login-section-left">
                    <img src="assets/images/logo.png" alt="KEMS" class="login-logo">
                </div>
                <div class="login-section-right">


                    <div id="SystemMessage" class="text-danger"></div>
                    <div id="SystemMessagePass" class="text-success"></div>


                    <h2 class="bold-text">Recover Password</h2>
                    <p class="text-muted">Enter your Email and instructions will be sent to you! </p>

                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="default-form">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" autocomplete="off" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        </div>

                        <div class="form-group text-center mt-3">
                            <div class="col-xs-12">
                                <button [disabled]="loading" class="btn btn-primary">
                                    <span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1 btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light">
                                    </span>
                                    Change Password
                                </button>
                            </div>
                            <a href="javascript:void(0)" id="to-login" routerLink="../login" class="float-right">
                                Login</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>